@using UdbService.Extension
@using UdbService.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model UdbService.Models.ViewModels.DetailsVM
@{ ViewData["Title"] = "Details"; }

<link rel="stylesheet" href="~/Customer/DetailsCSS/DetailsDesign.css">
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="@("~/Images/services/"+Model.IndService.ImageName)" asp-append-version="true" class="img-fluid" alt="">

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <a href="">
                            <span class="badge purple mr-1">@Html.DisplayFor(model => model.IndService.Category.Name)</span>
                        </a>
                    </div>
                    <p class="lead font-weight-bold">@Html.DisplayFor(model => model.IndService.Name)</p>



                    <p class="lead">
                        <span class="mr-1">
                            <del>$@ViewBag.ExtraPrice</del>
                        </span>
                        <span>$@Html.DisplayFor(model => model.IndService.Price)</span>
                    </p>

                    <p class="lead font-weight-bold">Description</p>

                    <p>
                        @Html.DisplayFor(model => model.IndService.Details)
                    </p>
                    <div class="col-12 col-md-6 pb-1">
                        @{ var AddToCartEnabled = true;

                                        if (HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart) != null)
                                        {
                                            var sessionList = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart);
                                            if (sessionList.Contains(Model.IndService.Id))
                                            {
                                                AddToCartEnabled = false;
                                            }
                                        } }

                        @if (AddToCartEnabled)
                        {
            <a asp-action="AddToCart" asp-route-serviceId="@Model.IndService.Id" class="btn btn-primary btn-square form-control btn-lg" style="height:50px;">Add to Cart</a> }
                        else
                        {
            <button class="btn btn-primary btn-square form-control btn-lg" style="height:50px;" disabled>Item in Cart</button>}

                    </div>

                    <!--<form class="d-flex justify-content-left">-->
                        <!-- Default input -->
                        <!--<input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                        <button class="btn btn-primary btn-md my-0 p" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>

                    </form>-->

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>
        <div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Releted <b>Services</b></h2>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="row">
                                        @foreach (var service in Model.ServiceList)
                                        {


                            <div asp-action="Details" asp-route-id="@service.Id" class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <a asp-action="Details" asp-route-id="@service.Id"><img src="~/Images/services/@service.ImageName" height="250" width="250" alt=""></a>
                                    </div>
                                    <div class="thumb-content">
                                        <a asp-action="Details" asp-route-id="@service.Id"><h4>@service.Name</h4></a>

                                        <p class="item-price"><strike>$@((int)service.Price + (int)service.Price * 0.4)</strike> <span>$@service.Price</span></p>

                                    </div>
                                </div>
                            </div>}

                                    </div>
                                </div>
                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Additional information</h4>

                <p>
                    Some Information That's Common For Every Service
                </p>

            </div>
            <div>

            </div>

            <!--Grid row-->
        </div>
    </div>
</main>
<!--Main layout-->
